client#/client/Connected Services/ServiceReference/ServiceServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://endpoint.service/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ServiceServiceService" targetNamespace="http://endpoint.service/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ws02/ServicelService?xsd=1" namespace="http://endpoint.service/" />
    </xsd:schema>
  </types>
  <message name="getAllService">
    <part name="parameters" element="tns:getAllService" />
  </message>
  <message name="getAllServiceResponse">
    <part name="parameters" element="tns:getAllServiceResponse" />
  </message>
  <message name="setDelService">
    <part name="parameters" element="tns:setDelService" />
  </message>
  <message name="setDelServiceResponse">
    <part name="parameters" element="tns:setDelServiceResponse" />
  </message>
  <message name="setNewService">
    <part name="parameters" element="tns:setNewService" />
  </message>
  <message name="setNewServiceResponse">
    <part name="parameters" element="tns:setNewServiceResponse" />
  </message>
  <message name="getSumOfService">
    <part name="parameters" element="tns:getSumOfService" />
  </message>
  <message name="getSumOfServiceResponse">
    <part name="parameters" element="tns:getSumOfServiceResponse" />
  </message>
  <portType name="ServiceService">
    <operation name="getAllService">
      <input wsam:Action="http://endpoint.service/ServiceService/getAllServiceRequest" message="tns:getAllService" />
      <output wsam:Action="http://endpoint.service/ServiceService/getAllServiceResponse" message="tns:getAllServiceResponse" />
    </operation>
    <operation name="setDelService">
      <input wsam:Action="http://endpoint.service/ServiceService/setDelServiceRequest" message="tns:setDelService" />
      <output wsam:Action="http://endpoint.service/ServiceService/setDelServiceResponse" message="tns:setDelServiceResponse" />
    </operation>
    <operation name="setNewService">
      <input wsam:Action="http://endpoint.service/ServiceService/setNewServiceRequest" message="tns:setNewService" />
      <output wsam:Action="http://endpoint.service/ServiceService/setNewServiceResponse" message="tns:setNewServiceResponse" />
    </operation>
    <operation name="getSumOfService">
      <input wsam:Action="http://endpoint.service/ServiceService/getSumOfServiceRequest" message="tns:getSumOfService" />
      <output wsam:Action="http://endpoint.service/ServiceService/getSumOfServiceResponse" message="tns:getSumOfServiceResponse" />
    </operation>
  </portType>
  <binding name="ServiceServicePortBinding" type="tns:ServiceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getAllService">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="setDelService">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="setNewService">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getSumOfService">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ServiceServiceService">
    <port name="ServiceServicePort" binding="tns:ServiceServicePortBinding">
      <soap:address location="http://localhost:8080/ws02/ServicelService" />
    </port>
  </service>
</definitions>